[submodule "web/adsr"]
	path = web/adsr
	url = netzhansa.com:public_html/adsr
[submodule "web/tetra-web"]
	path = web/tetra-web
	url = bknr.net:/home/git/tetra-web
[submodule "web/live-web-components"]
	path = web/live-web-components
	url = bknr.net:/home/git/live-web-components
[submodule "lib/antinode"]
	path = lib/antinode
	url = git@github.com:hanshuebner/antinode.git
[submodule "lib/node-osc"]
	path = lib/node-osc
	url = git@github.com:hanshuebner/node-osc.git
[submodule "lib/node_mdns"]
	path = lib/node_mdns
	url = git@github.com:agnat/node_mdns
