[submodule "web/adsr"]
	path = web/adsr
	url = netzhansa.com:public_html/adsr
[submodule "web/live-web-components"]
	path = web/live-web-components
	url = git@github.com:hanshuebner/live-web-components
[submodule "lib/antinode"]
	path = lib/antinode
	url = git@github.com:hanshuebner/antinode.git
[submodule "lib/node-osc"]
	path = lib/node-osc
	url = git@github.com:hanshuebner/node-osc.git
[submodule "lib/midivent"]
	path = lib/midivent
	url = git@github.com:hanshuebner/midivent
[submodule "lib/node_mdns"]
	path = lib/node_mdns
	url = git@github.com:hanshuebner/node_mdns
[submodule "lib/node-pashua"]
	path = lib/node-pashua
	url = git@github.com:hanshuebner/node-pashua.git
[submodule "lib/node-hid"]
	path = lib/node-hid
	url = git@github.com:hanshuebner/node-hid
[submodule "LiveOSC"]
	path = LiveOSC
	url = git@github.com:hanshuebner/LiveOSC.git
[submodule "web/tetra-web"]
	path = web/tetra-web
	url = git@github.com:hanshuebner/tetra-web
[submodule "lib/music.js"]
	path = lib/music.js
	url = https://github.com/GregJ/music.js
