#main {
    width: 110ex;
    height: 22em;
    background-color: #eee;
}

#control {
    float: right;
    background-color: #ddd;
    height: 100%;
}

#bcl {
    width: 100%;
}

#bcr {
    position: relative;
}

#bcr button {
    position: absolute;
    padding: 0;
    margin: 0;
}

#bcr button.encoder {
    width: 8ex;
    height: 5em;
}

#bcr button.button {
    width: 8ex;
    height: 2em;
}

#bcr button.button div {
    font-size: 75%;
}

#bcr button.selected {
    background-color: #F6A828;
}

#encoder1, #button33, #button41, #encoder33, #encoder41, #encoder49 { left: 1ex; }
#encoder2, #button34, #button42, #encoder34, #encoder42, #encoder50 { left: 10ex; }
#encoder3, #button35, #button43, #encoder35, #encoder43, #encoder51 { left: 19ex; }
#encoder4, #button36, #button44, #encoder36, #encoder44, #encoder52 { left: 28ex; }
#encoder5, #button37, #button45, #encoder37, #encoder45, #encoder53 { left: 37ex; }
#encoder6, #button38, #button46, #encoder38, #encoder46, #encoder54 { left: 46ex; }
#encoder7, #button39, #button47, #encoder39, #encoder47, #encoder55 { left: 55ex; }
#encoder8, #button40, #button48, #encoder40, #encoder48, #encoder56 { left: 64ex; }

#button49, #button51, #button63, #button53, #button55 { left: 76ex; }
#button50, #button52, #button64, #button54, #button56 { left: 85ex; }

#encoder1, #encoder2, #encoder3, #encoder4, #encoder5, #encoder6, #encoder7, #encoder8 { top: 1em; }
#button33, #button34, #button35, #button36, #button37, #button38, #button39, #button40 { top: 7em; }
#button41, #button42, #button43, #button44, #button45, #button46, #button47, #button48 { top: 10em; }
#encoder33, #encoder34, #encoder35, #encoder36, #encoder37, #encoder38, #encoder39, #encoder40 { top: 13em; }
#encoder41, #encoder42, #encoder43, #encoder44, #encoder45, #encoder46, #encoder47, #encoder48 { top: 19em; }
#encoder49, #encoder50, #encoder51, #encoder52, #encoder53, #encoder54, #encoder55, #encoder56 { top: 25em; }

#button53, #button54 { top: 15em; }
#button55, #button56 { top: 18em; }
#button63, #button64 { top: 21.5em; }
#button49, #button50 { top: 25em; }
#button51, #button52 { top: 28em; }

